<link rel = "StyleSheet" href = "style.css"/>

<div class = "mainDiv">
	<div class = "insideMainDiv">
		<h1 class = "heading">Choose A seat for the Flight with details</h1>
		<div class = "topDownInformation" th:object = ${flight}>
			<h4 th:text = "*{'From: ' + source}"></h4>
			<h4 th:text = "*{'To: ' + destination}"></h4>
			<h4 th:text = "*{'Fare: $' + fare}"></h4>
			<h4 th:text = "*{'Departure Time: ' + departureTime}"></h4>
		</div>
			<form class = "seatSelectForm" th:action = "bookingFlight">
			<input th:name = "flightId" th:value = "${flight.id}" hidden>
			<label for = "chooseSeat">Select a seat</label>
			<select th:name = "bookedSeat">
			<option th:each = "availableSeat : ${availableSeats}" th:value = ${availableSeat} th:text = ${availableSeat}></option>
			</select>
			<input class = "homePageSubmitButton" type = "submit" value = "Confirm Seat">

		<div class = "buttonsDiv">
		<button style = "margin: 5px;"><a th:href="home">Go back</a></button>
		</div>
		</form>
		</div>
	</div>
</div>